body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #ee67f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Style l-koul Role */
.role-box {
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 1.1em;
}

.admin {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #ef9a9a;
}

.trainer {
    background-color: #e3f2fd;
    color: #1565c0;
    border: 1px solid #90caf9;
}

.learner {
    background-color: #f1f8e9;
    color: #2e7d32;
    border: 1px solid #c5e1a5;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #222;
}